<%- include("../partials/header") %>

<h2>New Ticket</h2>

<form id="add-ticket-form" action="/flights/<%= flight._id %>/tickets" method="POST">
    
    <label>Seat:
        <input type="text" pattern="[A-F][1-9]\d" name="seat">
    </label>

    <label>Price:
        <input type="number" name="price">
    </label>

    <input type="submit" value="Create A Ticket">
</form>

<p>
    <%= errorMsg %>
</p>

<%- include("../partials/footer") %>