<%- include("../partials/header") %>

<h2>Enter a New Flight</h2>

<form action="/flights" method="POST">
    <label>Airline:
        <select name="airline">
            <option value="American">American</option>
            <option value="Southwest">Southwest</option>
            <option value="United">United</option>
            <option value="Delta">Delta</option>
        </select>
    </label>

    <label>Airport:
        <select name="airport">
            <option value="AUS">AUS</option>
            <option value="DFW">DWF</option>
            <option value="DEN" selected>DEN</option>
            <option value="LAX">LAX</option>
            <option value="SAN">SAN</option>
            <option value="PHX">PHX</option>
        </select>
    </label>

    <label>Flight Number:
        <input type="number" name="flightNo">
    </label>

    <label> Departs:
        <input type="datetime-local" name="departs">
    </label>
    <button type="submit">Add Flight</button>
</form>

<p>
    <%= errorMsg %>
</p>

<%- include("../partials/footer") %>